#DHTMLgoodies_formTooltipDiv{
	color:#000000;
	font-family: Verdana;
	font-weight: normal;
	font-size: 10px;
	line-height:  11pt;
	text-align: left;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color: #000000;
	font-weight: normal;
	font-size: 9px;
	text-align: left;
}