/* Stylized Red Theme (v2 Theme) */
body { 
font-size: 11px;
margin:0;
padding:0;
line-height: 1.4; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #000000; 
font-size: 11px; 
background-color: #6c6c6c;
background-image: url(../images/Gray/bknd_Gray.png);
background-repeat: repeat-x;
text-align: center;
}

/* ***************************** Custom Theme Elements ***************************** */

input, button, textarea, menu, select {
border: 1px solid #9a9a9a;
}

input:focus {

}

/* ------------------  form styles ------------------  */
input, select, textarea		{ font-family: inherit; font-size: 11px; }
.submit 			        { font-family: inherit; font-size: 11px; }
.radiobutton		        { border: none; padding-bottom: 2px;}

/* ------------------ global link styles ------------------  */
a:link 				{ color: #362CA0; text-decoration: none; }
a:visited 			{ color: #362CA0; text-decoration: none; }
a:hover 			{ color: #7A2821; text-decoration: none; }
a:active 			{ color: #7A2821; text-decoration: none; }

/* ------------------  layout divs ------------------  */
#maincontainer {
width: 760px;
margin-top: 5px;
margin-right: auto;
margin-left: auto;
border: 3px solid #000000;
}

#contentwrapper {
padding: 45px 5px 5px 5px;
overflow: hidden;
width: 750px;
background-image:  url("../images/StylizedRed/stylized_3_body.jpg"); 
background-repeat: no-repeat; 
background-position: top left;
background-color:#ffffff;
}

/*
#contentwrapperAdmin {
float: left;
width: 750px;
padding: 40px 5px 5px 5px;
background-image:  url("../images/StylizedRed/stylized_3_body.jpg"); 
background-repeat: no-repeat; 
background-position: top left;
background-color: #FFFFFF;
margin-top: 0px;
}
*/

#contentcolumn { 		/* main content - holds procedure, recipe, mash, etc. */
background-color:#ffffff;
width: 500px;
border-right: 245px solid #ffffff; /* The width and color of the right*/
margin: 0 -245px 0 0; 
padding: 0;
}

#contentWide { 			/* if no sidebar content */
width: 750px;
}

#rightcolumn {  		/* sidebar content - holds links, brewlog lists, recipe lists, upcoming brewing sessions, etc. */
background-color:#ffffff;
width: 245px;
padding: 0 0 0 5px;
margin: 0;
}


/* ------------------  header elements ------------------  */
#header {
background-image:  url("../images/StylizedRed/stylized_3_header_bknd.jpg"); 
background-repeat: no-repeat;
height: 100px;
background-position: top left;
}

.titleText {
font-size: 20px; 
color: #ffffff; 
font-weight: bold;
padding: 30px 0px 0px 10px;
}

.quoteText {
padding-left: 10px;
font-size: 10px;
font-style: italic;
color: #ffffff; 
}

#subtitle {
height: 50px;
width: 500px;
padding: 5px 0px 0px 3px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 18px;
font-weight: bold;
}

#subtitleWide, #subtitleAdmin {
height: 50px;
width: 100%;
padding: 5px 0px 0px 3px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 18px;
font-weight: bold;
}

#breadcrumb {
height: 25px;
width: 500px;
padding: 10px 0px 0px 3px;
font-size: 9px;
}

#breadcrumbWide, #breadcrumbAdmin {
height: 25px;
width: 100%;
padding: 10px 0px 0px 3px;
font-size: 9px;
}

#paginate {
text-align: right;
padding: 8px 0px 0px 3px;
font-size: 9px;
}

/* ------------------ main navigation ------------------ */
#nav {
background: #c0c0c0;
background-image:  url("../images/StylizedRed/stylized_3_nav_bknd.jpg"); 
background-repeat: no-repeat; 
background-position: middle left;
margin-top: 0px;
padding: 7px 10px 0px 10px;
font-size: 9px;
height: 23px;
}

#nav ul 
{

}

#nav li
{

}



#nav a:link 		{ color: #ffffff; text-decoration: none; }
#nav a:visited 		{ color: #ffffff; text-decoration: none; }
#nav a:hover 		{ color: #bababa; text-decoration: none; }
#nav a:active 		{ color: #bababa; text-decoration: none; }


/* ------------------ drop-down menu elements ------------------ */
#dropmenudiv			{ color: #000000; position: absolute; border: 1px solid #aaaaaa; border-bottom-width: 0;  line-height: 15px; z-index:100;  background-color: #bbbbbb; }
#dropmenudiv a 			{ color: #000000; width: 100%; display: block; text-indent: 2px; border-bottom: 1px solid #aaaaaa; padding: 1px 0; text-decoration: none; }
#dropmenudiv a:hover	{ background-color: #aaaaaa; text-decoration: none; color: #7A2821; }




/* ***************************** Theme-Specific Content Elements ***************************** */ 

#dataWrapperInner {		 	/* for Typical CO2 Saturation and any other table within the main data table. */
width: inherit;
background-color: #efefef;
border: 1px solid #bababa;
padding: 2px 2px 2px 2px;
font-size: 10px;
}

/* ------------------ footer elements ------------------ */
#footer {
clear: left;
width: 100%;
background: #7A2821;
padding: 5px 0px 5px 0px;
text-align: center;
font-size: 10px;
color: #FFFFFF;
}

#footer a { 
color: #FFFFFF; 
}

#footerInclude {
font-size: 9px;
margin-top: 5px;
}


/* ------------------ content display ------------------ */

#headerContent {
clear: left;
width: 489px;
height: 20px;
background-image:  url("../images/StylizedRed/content_header.png"); 
background-repeat: no-repeat;
padding: 5px 5px 5px 3px;
text-align: left;
border-bottom: 1px dashed #bababa;
font-size: 14px;
color: #000000;
font-weight: bold;
margin-bottom: 5px;
}

#headerContentAdmin {
clear: left;
width: 740px;
height: 20px;
background-image:  url("../images/StylizedRed/content_header.png"); 
background-repeat: no-repeat;
padding: 5px 5px 5px 3px;
text-align: left;
border-bottom: 1px dashed #bababa;
font-size: 14px;
color: #000000;
font-weight: bold;
margin-bottom: 15px;
margin-top: 15px;
}

/* ------------------ tools and reference elements  ------------------ */

#wideWrapper {  			/* Use for tools and reference pages */
width: 450px;
text-align: left;
background: #f2f2f2;
border: 1px solid #bababa;
padding: 2px 2px 2px 2px;
margin-top: 3px;
}

#referenceWrapper{
text-align: left;
margin-left: 5px;
margin-top: 5px;
}

#wideWrapperReference  {  			/* Use for reviews, tools and reference pages */
width: 740px;
text-align: left;
background: #eeeeee;
border: 1px solid #bababa;
padding: 2px 2px 2px 2px;
margin: 5px 0 5px 0;
}

#wideWrapperReview   {  			/* Use for reviews, tools and reference pages */
width:493px;
text-align: left;
background: #eeeeee;
border: 1px solid #bababa;
padding: 2px 2px 2px 2px;
margin-top: 3px;
}
.carbonationTable { /* specialized style for carbonation tables */
text-align: center;
font-size: 9px;
background: #FFFFFF;
width: 100%;
border-collapse: collapse;
}

#referenceHeader {
background-color: #bababa;
width: 100%;
font-weight: bold;
padding: 2px 0 2px 1px;
}

/* ------------------ sidebar elements  ------------------ */

#sidebarWrapper {
width: 235px;
background: #f2f2f2;
border: 1px solid #999999;
padding: 2px 2px 2px 2px;
margin-top: 5px;
}

#sidebarHeader {
background: #bababa;
padding: 2px 2px 2px 4px;
font-size: 11px;
font-weight: bold;
color: #000000;
margin-bottom: 3px;
background-image:  url("../images/StylizedBlue/sidebar.png"); 
background-repeat: repeat;
}

#sidebarHeaderSmall {			/* use for inner table div within dataTables */
background: #d9d9d9;
height: 15px;
padding: 3px 3px 3px 3px;
font-size: 11px;
font-weight: bold;
color: #000000;
}

#sidebarInnerWrapper {
width: 100%;
font-size: 10px;
}

/* ------------------ overall theme colors ------------------ */
.ultra_lt	 		{ color: #f2f2f2; }
.lt	 				{ color: #d9d9d9; }
.mid		 		{ color: #bababa; }
.dk			 		{ color: #7A2821; }
.bknd_white			{ background-color: #FFFFFF; }
.bknd_ultra_lt		{ background-color: #f2f2f2; }
.bknd_lt			{ background-color: #d9d9d9; }
.bknd_mid			{ background-color: #bababa; }
.bknd_dk			{ background-color: #7A2821; }

/* ultra light border styles */
.bdr1_ultra_lt			{ border: 1px solid #f2f2f2; }
.bdr1_ultra_lt_dashed 	{ border: 1px dashed #f2f2f2; }
.bdr1_ultra_lt_dotted	{ border: 1px dotted #f2f2f2; }
.bdr2_ultra_lt			{ border: 2px solid #f2f2f2; }
.bdr2_ultra_lt_dashed 	{ border: 2px dashed #f2f2f2; }
.bdr2_ultra_lt_dotted 	{ border: 2px dotted #f2f2f2; }
.bdr1L_ultra_lt			{ border-left: 1px solid #f2f2f2; }
.bdr1L_ultra_lt_dashed	{ border-left: 1px dashed #f2f2f2; }
.bdr1L_ultra_lt_dotted	{ border-left: 1px dotted #f2f2f2; }
.bdr1R_ultra_lt			{ border-right: 1px solid #f2f2f2; }
.bdr1R_ultra_lt_dashed	{ border-right: 1px dashed #f2f2f2; }
.bdr1R_ultra_lt_dotted	{ border-right: 1px dotted #f2f2f2; }
.bdr1T_ultra_lt			{ border-top: 1px solid #f2f2f2; }
.bdr1T_ultra_lt_dashed	{ border-top: 1px dashed #f2f2f2; }
.bdr1T_ultra_lt_dotted	{ border-top: 1px dotted #f2f2f2; }
.bdr1B_ultra_lt			{ border-bottom: 1px solid #f2f2f2; }
.bdr1B_ultra_lt_dashed	{ border-bottom: 1px dashed #f2f2f2; }
.bdr1B_ultra_lt_dotted	{ border-bottom: 1px dotted #f2f2f2; }

/* light border styles */
.bdr1_light				{ border: 1px solid #d9d9d9; }
.bdr1_light_dashed 		{ border: 1px dashed #d9d9d9; }
.bdr1_light_dotted		{ border: 1px dotted #d9d9d9; }
.bdr2_light				{ border: 2px solid #d9d9d9; }
.bdr2_light_dashed 		{ border: 2px dashed #d9d9d9; }
.bdr2_light_dotted 		{ border: 2px dotted #d9d9d9; }
.bdr1L_light			{ border-left: 1px solid #d9d9d9; }
.bdr1L_light_dashed		{ border-left: 1px dashed #d9d9d9; }
.bdr1L_light_dotted		{ border-left: 1px dotted #d9d9d9; }
.bdr1R_light			{ border-right: 1px solid #d9d9d9; }
.bdr1R_light_dashed		{ border-right: 1px dashed #d9d9d9; }
.bdr1R_light_dotted		{ border-right: 1px dotted #d9d9d9; }
.bdr1T_light			{ border-top: 1px solid #d9d9d9; }
.bdr1T_light_dashed		{ border-top: 1px dashed #d9d9d9; }
.bdr1T_light_dotted		{ border-top: 1px dotted #d9d9d9; }
.bdr1B_light			{ border-bottom: 1px solid #d9d9d9; }
.bdr1B_light_dashed		{ border-bottom: 1px dashed #d9d9d9; }
.bdr1B_light_dotted		{ border-bottom: 1px dotted #d9d9d9; }

/* midtone border styles */
.bdr1_mid				{ border: 1px solid #bababa; }
.bdr1_mid_dashed 		{ border: 1px dashed #bababa; }
.bdr1_mid_dotted		{ border: 1px dotted #bababa; }
.bdr2_mid				{ border: 2px solid #bababa; }
.bdr2_mid_dashed 		{ border: 2px dashed #bababa; }
.bdr2_mid_dotted 		{ border: 2px dotted #bababa; }
.bdr1L_mid				{ border-left: 1px solid #bababa; }
.bdr1L_mid_dashed		{ border-left: 1px dashed #bababa; }
.bdr1L_mid_dotted		{ border-left: 1px dotted #bababa; }
.bdr1R_mid				{ border-right: 1px solid #bababa; }
.bdr1R_mid_dashed		{ border-right: 1px dashed #bababa; }
.bdr1R_mid_dotted		{ border-right: 1px dotted #bababa; }
.bdr1T_mid				{ border-top: 1px solid #bababa; }
.bdr1T_mid_dashed		{ border-top: 1px dashed #bababa; }
.bdr1T_mid_dotted		{ border-top: 1px dotted #bababa; }
.bdr1B_mid				{ border-bottom: 1px solid #bababa; }
.bdr1B_mid_dashed		{ border-bottom: 1px dashed #bababa; }
.bdr1B_mid_dotted		{ border-bottom: 1px dotted #bababa; }

/* dark border styles */
.bdr1_dark				{ border: 1px solid #7A2821; }
.bdr1_dark_dashed 		{ border: 1px dashed #7A2821; }
.bdr1_dark_dotted		{ border: 1px dotted #7A2821; }
.bdr2_dark				{ border: 2px solid #7A2821; }
.bdr2_dark_dashed 		{ border: 2px dashed #7A2821; }
.bdr2_dark_dotted 		{ border: 2px dotted #7A2821; }
.bdr1L_dark				{ border-left: 1px solid #7A2821; }
.bdr1L_dark_dashed		{ border-left: 1px dashed #7A2821; }
.bdr1L_dark_dotted		{ border-left: 1px dotted #7A2821; }
.bdr1R_dark				{ border-right: 1px solid #7A2821; }
.bdr1R_dark_dashed		{ border-right: 1px dashed #7A2821; }
.bdr1R_dark_dotted		{ border-right: 1px dotted #7A2821; }
.bdr1T_dark				{ border-top: 1px solid #7A2821; }
.bdr1T_dark_dashed		{ border-top: 1px dashed #7A2821; }
.bdr1T_dark_dotted		{ border-top: 1px dotted #7A2821; }
.bdr1B_dark				{ border-bottom: 1px solid #7A2821; }
.bdr1B_dark_dashed		{ border-bottom: 1px dashed #7A2821; }
.bdr1B_dark_dotted		{ border-bottom: 1px dotted #7A2821; }

/* non-theme specific border styles */
.bdr1_black				{ border: 1px solid #000000; }
.bdr1_white				{ border: 1px solid #FFFFFF; }
.bdr1_red				{ border: 1px solid #FF0000; }





/* ------------------ error or caution colors ------------------ */
.red		 		{ color: #FF0000 }
.error              { padding-bottom: 10px; text-align: left; font-weight: bold; font-size: 12px; color: #FF0000; }

#shadowbox {
width: 250px;
position: absolute;
background: url(../images/25black.png) repeat;
float: right;
top: 235px;
right: 235px;
}

#caution {
top: -4px;
left: -4px;
background-color: #FFFAE5;
border-top: 3px solid #FFcc00;
border-left: 3px solid #FFcc00;
border-right: 3px solid #E6B800;
border-bottom: 3px solid #E6B800;
padding: 10px 10px 10px 10px;
text-align: justify;
font-size: 10px;
background-repeat: no-repeat;
position: relative;
}


#moreInfoWrapper {  				/* Use for tools and reference pages */
width: 450px;
text-align: left;
background: #f2f2f2;
border: 1px solid #999999;
padding: 2px 2px 2px 2px;
margin-top: 10px;
}

#moreInfo a span {
display: none;
}

#moreInfo a:hover span {
display: block;
position: absolute; 
height: auto;
padding: 5px; 
z-index: 100;
color: #000000;
}

#psiWrapper {
width: 99%;
background: #ffffff;
border: 1px solid #bababa;
padding: 2px 2px 2px 2px;
margin-top: 3px;
margin-right: 5px;
}

/* Calendar classes */

.calendar 		{ border: 1px solid #adadad; border-collapse: collapse; color: #000000; width: 100%; font-size: 9px; }
.tableContain 	{ color: #000000; font-size: 9px; }
.none 			{ color: #000000; font-size: 9px;}
.today 			{ border: 1px solid #adadad; color: #000000; background:#cfcfcf; font-size: 9px; padding: 2px;}
.monthdays 		{ border: 1px solid #adadad; color: #000000; font-size: 9px; padding: 2px; height: 100px; } 
.nonmonthdays 	{ border: 1px solid #adadad; color: #000000; background: #efefef; font-size: 9px; padding: 2px; height: 100px; } 
.day 			{ vertical-align:top; height: 50px; font-size: 9px;}
.header			{ border: 1px solid #adadad; color: #000000; background-color:#cfcfcf; padding: 2px; font-size: 9px; }
.weekdays		{ border: 1px solid #adadad; background-color: #dddddd; color: #000000; font-size: 9px; padding: 2px; }
.calInfo		{ padding-left: 2px; font-size: 9px; }

/* Recipe Calculator Styles */
hr { 
color: #000000;
height: 1px;
width: 100%;
}

#calculate {
width: 350px;
position: absolute;
background: url(../images/25black.png) repeat;
float: right;
top: 155px;
right: 100px;
z-index: 2;
}

#calculateInner {
top: -4px;
left: -4px;
background-color: #f2f2f2;
border-top: 3px solid #d9d9d9;
border-left: 3px solid #d9d9d9;
border-right: 3px solid #bababa;
border-bottom: 3px solid #bababa;
padding: 10px 10px 10px 10px;
text-align: left;
font-size: 10px;
background-repeat: no-repeat;
position: relative;
}