body {
margin:0;
padding:0;
line-height: 1.25; 
color: #000000; 
font-size: 11px; 
background-color: #FFFFFF;  
text-align: center;
}

/* ------------------ global link styles ------------------  */

a:link 				{ color: #000000; text-decoration: none; }
a:visited 			{ color: #000000; text-decoration: none; }
a:hover 			{ color: #000000; text-decoration: none; }
a:active 			{ color: #000000; text-decoration: none; }

/* ------------------  header elements ------------------  */

#subtitle {
padding: 0px 0px 10px 0px;
margin-top: 0px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 20px;
font-weight: bold;
}


#maincontainer {
width: 665px;
padding: 0px;
text-align: left;
}

#contentWrapper {
float: left;
width: 660px;
padding: 5px;
background-color: #FFFFFF;
margin-top: 0px;
margin-left: 0px;
}

#contentcolumn { 		/* main content - holds procedure, recipe, mash, etc. */
width: 450px;
margin-right: 10px;
float: left;
text-align: left;
}

#rightcolumn {  		/* sidebar content - holds links, brewlog lists, recipe lists, upcoming brewing sessions, etc. */
float: left;
width: 190px;
text-align: left;
}

.include {
margin-top: 25px;
}


#dataContainer {		 /* container for main content - holds procedure, recipe, mash, etc. */
width: inherit;
margin-left: 0px;
padding: 0px 0px 0px 0px;
margin-bottom: 20px;
}


#dataWrapperInner {		 	/* for Typical CO2 Saturation and any other table within the main data table. */
width: inherit;
background-color: #efefef;
border: 1px solid #8A9E91;
padding: 2px 2px 2px 2px;
font-size: 10px;
}

/* ------------------ footer elements ------------------ */
#footer {
clear: left;
width: 100%;
background: #4c5b52;
padding: 5px 0px 0px 0px;
text-align: center;
font-size: 10px;
color: #FFFFFF;
}

#footer a { 
color: #FFFFFF; 
}

#footerInclude {
font-size: 9px;
}


/* ------------------ content display ------------------ */

#headerContent {
clear: left;
width: inherit;
height: 20px;
padding: 0px 0px 0px 0px;
text-align: left;
border-bottom: 1px dashed #000000;
font-size: 14px;
color: #000000;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: bold;
margin-bottom: 3px;
margin-top: 30px;
}


/* ------------------ sidebar elements  ------------------ */

#sidebarWrapper {
width: inherit;
background: #eeeeee;
border: 1px solid #000000;
padding: 2px 2px 2px 2px;
margin-top: 3px;
}

#sidebarHeader {
background: #cccccc;
height: 20px;
padding: 6px 3px 3px 3px;
font-size: 12px;
font-weight: bold;
color: #000000;
margin-bottom: 5px;

}
.text_10 { 
font-size: 10px; 
}

